
<!-- 
    - O HEIGHT não é problema, porém o ideal é antes de abrir a câmera, realizar um scroll top e adiconar um overflow hidden 
      no html, travando na câmera e impedindo que o usário consiga usar o scroll vertical.
    - Já o width deve estar 100% responsivo, pois caso tenha algum valor que fique extrapolando o tamanho natural da tela do celular
      o frame pode conter mau funcionamento.
    - Não de tamanhos fixos para body, causa mau funcionamento.
    - Ou possui uma tela enxuta a ponto de não precisar se preocupar com scroll de rolagem, 
      ou reduza os elementos visíveis quando chamar a abertura de câmera, por exemplo ocutando os mesmos.
      ao invés de 100vh e 100vw, altere para 800px e 1800px, descomente o primeiro exemplo, execute e tente 
      mudar a orientação e voltar ao normal, perceba que fazendo algumas vezes o frame se perde por causa do scroll de rolagem.
      Caso vá no app.components e adicone ao abrir a câmera o código document.getElementById("fundo").style.display = "none"; 
       de ocultar os elementos que geram scroll e após a captura pode mostrar uma tela
      de captura realizada e mostrar novamente os elementos.
      document.getElementById("fundo").style.display = "none";
    - O ideal é que nesse processo de captura simule telas com tamanhos exatos parecido com Telas de capturas nativas como Android.
    - Caso não queira ter uma tela enxuta ou ocultar os elementos que geram scroll, pode se criar um mecanismo de remover 
      scroll de rolagem e sempre posicionar no top 0 e left 0 sempre que mudar a orientação, acaba sendo custoso a criação
      do algoritmo, porém funciona muito bem.
 -->

<!-- Exemplo 1 -->
<!-- Tente deixar na raiz como filho do root,
     neste exemplo a página que abre a câmera não possui nenhum elemento maior que 
     o screen da tela, fazendo com que a mudança de orientação funcione corretamente. Porém neste 
     caso é necessário que html do body não seja maior que o screen da tela, no case do fluxo
     de SMS a tela de intro de captura criamos bem enxuta com somente informações necessárias
     para nunca ser maior que o screen e removemos scroll da página específicamente para parte da captura e previa.
-->
<div id="box-camera"></div>
<div id="fundo" style="width: 100vw; height: 100vh;">
</div>

<!-- Exemplo 2 - onde é usado um box com posição fixa -->
<!-- Perceba ao rodar o projeto e selecionar no pixel 2 por exemplo o frame criou corretamente,
     porém o defeito é que ainda possui scroll de rolagem na página por conta do #fundo,
     e quando o usuário muda a orientação, na volta acaba as vezes não estando mais top: 0 e left: 0 na
     visualização da página.
 -->
<!-- <div style="width: 600px; height: 1800px; position: relative; display: flex;">
<div style="position: fixed; width: 100vw; height: 100vh; top: 0; left: 0;">
  <div id="box-camera"></div>
</div>
</div>
<div id="fundo" style="width: 600px; height: 1800px;">
  
</div> -->

<!-- Exemplo onde é usado um box com posição fixa -->
<!-- Perceba ao rodar o projeto e selecionar no pixel 2 por exemplo que o frame ficou bem grande, quando usamos 100% no pai,
     o pai possui tamanho fixo e medidas 100%, porém pai relativo dele possui um filho que faz com que o tamanho dele seja bem maior,
     fazendo com que o componente de câmera seja criado baseado nesse tamanho.   
-->
<!-- <div style="position: fixed; width: 100%; height: 100%;">
  <div id="box-camera"></div>
</div>
<div id="fundo" style="width: 600px; height: 1200px;">  
</div> -->
